#clock {
    background-origin: border-box;
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: initial;
    color: #f5f5f5;
    font-weight: bold;
    font-family: 'Iosevka Nerd Font';
    font-size: 17px;
    letter-spacing: 0.2em;
    border-color: #f5f5f5;
    border-style: solid;
}
#clock.hour {
    margin-top: 0.4rem;
    background-image: url("/opt/craccken/assets/statusbar/background-time-hour.svg");
    padding-top: 0.7rem;
    padding-bottom: 0.2rem;
}
#clock.minute {
    background-image: url("/opt/craccken/assets/statusbar/background-time-minute.svg");
    padding-left: 2px;
    padding-top: 0.5rem;
    padding-bottom: 0.7rem;
    border-bottom-width: 0.09em;
}
