#backlight {
    background-origin: border-box;
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: initial;
    color: #f5f5f5;
    text-shadow: 0px 0px 1.7px #f5f5f5; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
    background-image: url("/opt/craccken/assets/statusbar/background-8.svg");
    font-family: 'Iosevka Nerd Font';
    font-size: 15px;
    padding-top: 1.0rem;
    padding-bottom: 1.1rem;
}
