#tray * { /* Set style for systray all elements */
    font-family: Roboto; /* Specifies a prioritized list of font family names or generic family names. */
}
#tray { /* Set style for systray */
    padding-bottom: 3px;
    padding-right: 2px;
}
#tray menu { /* Set style for context menu */
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-origin: border-box;
    background-size: 100% 100%;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/opt/craccken/assets/statusbar/background-11.svg");
}
#tray menuitem { /* Set style for item in systray */
    color: rgba(60, 60, 60, 0.5);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0.5rem;
    font-size: 0.9rem;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgba(60, 60, 60, 0.1);
}
#tray menuitem:hover { /* Set style for hovering item in systray */
    color: #ffdf00;
    border-left-color: #ffdf00;
    border-left-style: solid;
}
#tray menuitem:disabled { /* Set style for item in systray disabled */
    /* color: rgba(60, 60, 60, 0.3); */
    border-left-color: rgba(60, 60, 60, 0);
    color: #f5f5f5;
}
