#workspaces {
    background-origin: border-box;
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: initial;
    font-family: 'Iosevka Nerd Font';
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
#workspaces button {
    background-origin: border-box;
    background-size: contain;
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-position: initial;
    color: #f5f5f5;
    padding-top: 1.2rem;
    padding-bottom: 0.9rem;
    transition-delay: 0ms;
    transition-duration: 0.07s;
    transition-timing-function: ease;
    transition-property: text-shadow, background-image;
    background-image: url("/opt/craccken/assets/statusbar/background-10.svg");
}
#workspaces button:hover {
    text-shadow: 0px 0px 2px #f5f5f5;
}
#workspaces button:active {
    text-shadow: 0px 0px 2px #f5f5f5, -8px -4px 0px #cc0022, -4px -4px 0px #00ff87, 4px 10px 1px #cc0022, 8px 10px 1px #00ff87 ; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
}
#workspaces button.active {
    background-image: url("/opt/craccken/assets/statusbar/background-9.svg");
    color: #000000;
}
