.popup-network {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000; // Sets the color of an element's text
    text-shadow: 0px 0px 1.7px #000000; // Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color'
    background-image: url("/opt/craccken/assets/widget/background-network.svg"); // Set the background image of an element
    padding-top: 18px; // Shorthand property to set values for the thickness of the padding area top
    padding-bottom: 11px; // Shorthand property to set values for the thickness of the padding area bottom
    .ssid {
        font-size: 19px; // Indicates the desired height of glyphs from the font.
        font-family: "CaskaydiaCove Nerd Font"; // Specifies a prioritized list of font family names or generic family names.
    }
    .text-value {
        font-family: 'Sans Serif'; // Specifies a prioritized list of font family names or generic family names.
        font-size: 13px; // Indicates the desired height of glyphs from the font.
        font-weight: 500; // Specifies weight of glyphs in the font, their degree of blackness or stroke thickness.
    }
    .icon, .downstream, .upstream {
        font-family: 'CaskaydiaCove Nerd Font'; // Specifies a prioritized list of font family names or generic family names.
        font-size: 12px; // Indicates the desired height of glyphs from the font.
    }
    .icon {
        padding-right: 1.7rem; // Shorthand property to set values for the thickness of the padding area right
    }
}
