.audio {
    @include background-fill; // Use function
    color: #f5f5f5; // Sets the color of an element's text
    text-shadow: 0px 0px 1.7px #f5f5f5; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
    background-image: url("./bar/assets/background-6.svg"); // Set the background image of an element
    font-family: $font-text-1; // Specifies a prioritized list of font family names or generic family names.
    font-size: 15px; // Indicates the desired height of glyphs from the font.
    padding-top: 1.0rem; // Shorthand property to set values for the thickness of the padding area top
    padding-bottom: 1.1rem; // Shorthand property to set values for the thickness of the padding area bottom
    padding-right: 0.5rem; // Shorthand property to set values for the thickness of the padding area right
}
