.brightness {
    @include background-fill; // Use function
    color: #f5f5f5; // Sets the color of an element's text
    text-shadow: 0px 0px 1.7px #f5f5f5; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
    background-image: url("/opt/craccken/assets/statusbar/background-8.svg"); // Set the background image of an element
    font-family: $font-text-1; // Specifies a prioritized list of font family names or generic family names.
    font-size: 15px; // Indicates the desired height of glyphs from the font.
    padding-top: 1.0rem; // Shorthand property to set values for the thickness of the padding area top
    padding-bottom: 1.1rem; // Shorthand property to set values for the thickness of the padding area bottom
    .brightness-layer-2 {
        @include background-fill; // Use function
        background-position: right; // Specifies the initial position of the background image(s) (after any resizing) within their corresponding background positioning area
        animation-name: blink; // The animation-name CSS property specifies the names of one or more @keyframes at-rules that describe the animation to apply to an element.
        animation-duration: 1s; // The animation-duration CSS property sets the length of time that an animation takes to complete one cycle.
        animation-direction: alternate-reverse; // The animation-direction CSS property sets whether an animation should play forward, backward, or alternate back and forth between playing the sequence forward and backward.
        animation-iteration-count: infinite; // Defines the number of times an animation cycle is played.
        animation-timing-function: linear; // Describes how the animation will progress over one cycle of its duration.
    }
}
@keyframes blink {
    50% {
        background-image: url("/opt/craccken/assets/statusbar/background-8-hover.svg"); // Set the background image of an element
    }
}
