.disk {
    @include background-fill; // Use function
    background-image: url("./bar/assets/background-4.svg"); // Set the background image of an element
    font-family: $font-text-1; // Specifies a prioritized list of font family names or generic family names.
    padding-top: 0.8rem; // Shorthand property to set values for the thickness of the padding area top
    padding-bottom: 0.7rem; // Shorthand property to set values for the thickness of the padding area bottom
}
.disk-progress {
    background-color: rgba($color: #a6a6a6, $alpha: 0.07); // Sets the background color of an element.
}
.disk-icon {
    color: transparent; // Sets the color of an element's text
    font-size: 4rem; // Indicates the desired height of glyphs from the font.
}
