.memory {
    @include background-fill; // Use function
    background-image: url("/opt/craccken/assets/statusbar/background-3.svg"); // Set the background image of an element
    font-family: $font-text-1; // Specifies a prioritized list of font family names or generic family names.
    padding-top: 0.8rem; // Shorthand property to set values for the thickness of the padding area top
    padding-bottom: 0.7rem; // Shorthand property to set values for the thickness of the padding area bottom
    margin-bottom: 0.3rem;
}
.memory-progress {
    background-color: rgba($color: #e3e3e3, $alpha: 0.07); // Sets the background color of an element.
}
.memory-icon {
    color: transparent; // Sets the color of an element's text
    font-size: 4rem; // Indicates the desired height of glyphs from the font.
}
