.time {
    @include background-fill; // Use function
    color: #f5f5f5; // Sets the color of an element's text
    background-image: url("/opt/craccken/assets/statusbar/background-1.svg");
    font-weight: bold;
    font-family: $font-text-1;
    font-size: 17px;
    letter-spacing: 0.2em; // Specifies the minimum, maximum, and optimal spacing between grapheme clusters.

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    border-color: #f5f5f5;
    border-style: solid;
    border-bottom-width: 0.1em;
    button {
        @include background-fill; // Use function
        background-size: contain;
        background-position: right;

        padding-top: 0.3rem;
        padding-bottom: 0.3rem;

        transition-delay: 0ms;
        transition-duration: 0.07s;
        transition-timing-function: ease;
        transition-property: text-shadow, background-image; // Specifies the name of the CSS property to which the transition is applied.
        &:hover {
            text-shadow: 0px 0px 2px #f5f5f5; // Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color'
            background-image: url("/opt/craccken/assets/statusbar/background-1-hover.svg"); // Set the background image of an element
        }
        &:active {
            text-shadow: 0px 0px 2px #f5f5f5, -8 -4 0px #cc0022, -4 -4 0px #00ff87, 4px 10px 1px #cc0022, 8px 10px 1px #00ff87 ; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
            background-image: unset; // Set the background image of an element
        }
    }
}
