.time {
    @include background-fill; // Use function
    color: #f5f5f5; // Sets the color of an element's text
    background-image: url("/opt/craccken/assets/statusbar/background-1.svg"); // Set the background image of an element
    font-weight: bold; // Specifies weight of glyphs in the font, their degree of blackness or stroke thickness\
    font-family: $font-text-1; // Specifies a prioritized list of font family names or generic family names.
    font-size: 17px; // Indicates the desired height of glyphs from the font.
    letter-spacing: 0.2em; // Specifies the minimum, maximum, and optimal spacing between grapheme clusters.
    padding-top: 0.5rem; // Shorthand property to set values for the thickness of the padding area top.
    padding-bottom: 0.5rem; // Shorthand property to set values for the thickness of the padding area bottom.
    border-color: #f5f5f5; // The color of the border around all four edges of an element
    border-style: solid; // The style of the border around edges of an element.
    border-bottom-width: 0.09em; // Sets the thickness of the bottom border.
    button {
        @include background-fill; // Use function
        padding-top: 0.3rem; // Shorthand property to set values for the thickness of the padding area top
        padding-bottom: 0.3rem; // Shorthand property to set values for the thickness of the padding area bottom
        transition-delay: 0ms; // Defines when the transition will start.
        background-position: right; // Specifies the initial position of the background image(s) (after any resizing) within their corresponding background positioning area
        transition-duration: 0.07s; // Defines when the transition will start.
        transition-timing-function: ease; // Describes how the intermediate values used during a transition will be calculated.
        transition-property: text-shadow, background-image; // Specifies the name of the CSS property to which the transition is applied.
        &:hover {
            text-shadow: 0px 0px 2px #f5f5f5; // Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color'
            background-image: url("/opt/craccken/assets/statusbar/background-1-hover.svg"); // Set the background image of an element
        }
        &:active {
            text-shadow: 0px 0px 2px #f5f5f5, -8 -4 0px #cc0022, -4 -4 0px #00ff87, 4px 10px 1px #cc0022, 8px 10px 1px #00ff87 ; /* Enables shadow effects to be applied to the text of the element. 'offset-x | offset-y | blur-radius | color' */
            background-image: unset; // Set the background image of an element
        }
    }
}
